<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blogapp"
        tools:targetApi="31">
        <activity
            android:name=".BlogAdapterSearch"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".HomepageActivity"
            android:exported="false" />
        <activity
            android:name=".BlogAdapter"
            android:exported="false" />
        <activity
            android:name=".Blog"
            android:exported="false" />
        <activity
            android:name=".Blogpost"
            android:exported="false" />
        <activity
            android:name=".Profpage"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Profileview" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Navhome"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".Home"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name="com.example.blog_app.UpdateBlogActivity"
            android:label="Update Blog" />
        <activity
            android:name=".UpdateProfileActivity"
            android:label="Update Profile" />

        <!--        <activity-->
<!--            android:name=".BlogDetailsActivity"-->
<!--            android:label="Blog Details" />-->
    </application>

</manifest>